.projects-card {
    padding: 3rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background-color: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
}

.projects-card-info {
    padding: 1rem 0;
}
.projects-card h5 {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
}

.projects-card img {
    width: 35rem;
    margin-top: 2rem;
    border-radius: 0.65rem;
}