.projects-container {
    margin: 4rem 0;
    position: relative;
}

.projects-container::after,
.projects-container::before {
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.projects-container::after {
    top: -3rem;
    left: -5rem;
}

.projects-container::before {
    background-color: #9e51b9;
    bottom: 0rem;
    right: 0rem;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.projects-container h5 {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
}

.btns {
    width: fit-content;
    font-size: 1.8rem;
    letter-spacing: 0.7rem;
}

.btns button {
    margin: 0 1rem;
}

.prev-btn,
.next-btn {
    cursor: pointer;
    font-size: 1.7rem;
    padding: 0.3rem 0.8rem;
    color: white;
    background-color: #6751b9;
    box-shadow: 0px 0px 3px 1px #7c66e3;
    border: none;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.prev-btn:hover,
.next-btn:hover {
    scale: 1.1;
    background-color: #7c66e3;
}



.projects-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* //! Project Information */
.projects-info {
    width: 40%;
    height: 25rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background-color: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
}

.projects-info-content {
    padding: 0 2rem;
}

.projects-info h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #6751b9;
}

.projects-info p {
    padding: 0.8rem 0rem;
}

.projects-info li {
    padding: 0.2rem 0rem;
    border-bottom: 1.5px solid #6751b9;
}

.icons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;
    gap: 2rem;
    margin-top: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.icons::-webkit-scrollbar {
    height: 3px;
    background-color: white;
    border-radius: 25px;
}

.icons>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    background-color: #2a2252;
    border-radius: 0.5rem;
    border: 1.5px solid #382e68;
}

.icons img {
    padding: 0.75rem;
    filter: contrast(130%);
    border-radius: 1rem;
}


/* //! Project Image */
.projects-img {
    height: 25rem;
    margin: auto;
    padding: 2rem 3rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background-color: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
}

.projects-img h5 {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
}

.projects-img img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.65rem;
}

.projects-img img:hover {
    filter: brightness(75%);
}


@media (max-width: 1025px) {
    .projects {
        padding-left: 1rem;
    }

    .projects,
    .projects-content {
        grid-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .projects-content {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .projects,
    .projects-info {
        width: 100%;
    }

    .projects-container h5 {
        font-size: 1.3rem;
    }

    .projects-container::after,
    .projects-container::before {
        width: 18rem;
        height: 18rem;
    }

    .prev-btn,
    .next-btn {
        padding: 0.2rem 0.6rem;
    }

    .projects-img {
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }
}

@media (max-width: 600px) {
    .projects-container {
        padding: 0;
    }

    .prev-btn,
    .next-btn {
        font-size: 1.4rem;
        padding: 0.2rem 0.5rem;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-info {
        width: 100%;
        height: 100%;
    }

    .projects-img {
        padding: 0.5rem;
    }

    .projects-info-content {
        padding: 1rem 2rem;
    }
}