.loader {
    position: fixed;
    top: 0;
    height: 0.3rem;
    background-color: red;
    z-index: 9999;
}

.container {
    max-width: 1300px !important;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1300px)
{
    .container {
        padding: 0 1.5rem;
    }
}