.languages-container {
    margin: 7rem 0;
    position: relative;
}

.languages-container::after,
.languages-container::before {
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.languages-container::after {
    top: -3rem;
    left: -5rem;
}

.languages-container::before {
    background-color: #9e51b9;
    bottom: 0rem;
    right: 0rem;
}

.languages-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.languages-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, auto);
    gap: 2rem;
    padding: 4rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background-color: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
}

.languages-grid .language {
    position: relative;
    width: 100px;
    height: 110px;
    padding: 1rem;
    background-color: #2a2252;
    border-radius: 0.5rem;
    border: 1.5px solid #382e68;
    border-radius: 5px;
}

.languages-grid .language img {
    display: block;
    margin: auto;
    width: 85%;
    height: 55px;
    border-radius: 5px;
}

.languages-grid .language:hover img {
    transform: translateY(-0.5rem);
}

.languages-grid .language span {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: context-menu;
    display: block;
    margin-top: 0.5rem;
    font-size: 0.88em;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .languages-grid {
        grid-template-columns: repeat(6, auto);
    }
}

@media (max-width: 992px) {
    .languages-grid {
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 768px) {
    .languages-grid {
        gap: 1.5rem;
        padding: 2rem;
    }

    .languages-grid .language {
        width: 80px;
        height: 90px;
    }

    .languages-grid .language img {
        height: 45px;
    }

    .languages-grid .language span {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    .languages-grid {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 420px) {
    .languages-grid {
        gap: 1rem;
        grid-template-columns: repeat(3, auto);
    }
    .languages-grid .language {
        width: 80px;
        height: 105px;
    }
}
@media (max-width: 360px) {
    .languages-grid {
        gap: 0.5rem;
        padding: 1rem;
    }
    .languages-grid .language {
        width: 70px;
        height: 90px;
        padding: 0.7rem;
    }
    .languages-grid .language img {
        height: 40px;
    }
    .languages-grid .language span {
        font-size: 0.7em;
    }
}
@media (max-width: 300px) {
    .languages-grid {
        grid-template-columns: repeat(2, auto);
    }
}